<a href="https://colab.research.google.com/github/Rafael90900/Aula-07-python/blob/main/Aula07python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
nomes = ['zé', 'tião', 'joaquin']
nomes.append('julia')

#vários valores
outrosNomes = ['Ana', 'Zabé','Maria']
nomes.extend(outrosNomes)

nomes

['zé', 'tião', 'joaquin', 'julia', 'Ana', 'Zabé', 'Maria']

In [4]:
#crie uma lista de números e
numeros = [2 , 4 , 1 , 6 , 9 , 12]
#remova o primeiro elemento da lista
numeros.remove(numeros[0])
#remova o ultimo elemento da lista
numeros.pop()

numeros

[4, 1, 6, 9]

In [5]:
#1 crie uma lista de notas, e exiba do menor para o maior
notas = [2, 10 , 9 ,4 , 7 , 3 , 8]
nomes = ['Gustavo' , 'Adriel' , 'Luiz' , 'Cris']
notas.sort()
nomes.sort(reverse=True)
#2 Crie uma lista de nomes de frutas e ordene em ordem decrescente

nomes

['Luiz', 'Gustavo', 'Cris', 'Adriel']

In [12]:
#Exemplo da função map - cria uma nova lista com o dobro
numeros = [12, 4 , 6, 3]
nova_lista = list(map(lambda x : x*2, numeros))
nova_lista

[24, 8, 12, 6]

In [13]:
#pegar cada um dos números e dividir por 3
numDivi = list(map(lambda x : x/3, numeros))
numDivi

[4.0, 1.3333333333333333, 2.0, 1.0]

In [15]:
#Pega cada número  divide por 2
numDivi = list(map(lambda x : x/2, numeros ))
numDivi

[6.0, 2.0, 3.0, 1.5]

In [17]:
#Exemplo função filter - a partir de uma lista de nomes,

nomes = ['José', 'João', 'Luiz', 'Angelica' , 'Luciana']
new_list = list(filter(lambda x : len(x)>5, nomes))
new_list

['Angelica', 'Luciana']

In [28]:
#Crie uma lista de notas , imprime as maiores que 6
notas = [5, 4 , 7 ,6 , 8 , 9 , 7, 6.5 , 7.3]
newNotas = list(filter(lambda x : x>6, notas))
newNotas

[7, 8, 9, 7, 6.5, 7.3]

In [42]:
#Dada uma lista de números, retorne uma lista contendo o quadrado de cada número
numeros = [ 7 , 5 , 4 , 9 , 10]

new_list = list(map(lambda x : (x+x)**2, numeros))

new_list

[196, 100, 64, 324, 400]